@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  min-height: 100%;
  overscroll-behavior: none;
  overflow-x: hidden;
  margin: 0;
}

body.auth-fixed {
  overflow: hidden;
}
